@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner {
    animation-name: spinner;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}
